QPushButton, QLabel{
    border-radius: 20%;
}

.walkable{
    border: 3px solid black;
}

.playerTile{
    border : 3px solid red;
    background-color : red;
}

.endTile{
    border: 10px solid lightblue;
}

.wall{
    background-color: black;
}
